{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
	 <div class="card-deck">
  		{% for destination in destinations %}

  		<div class="col-md-4">
 		<div class="card text center" style="width: 18rem;">
  		<img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">
  	<div class="card-body">
   	 <h5 class="card-title">{{destination.name}}</h5>
   	 <p class="card-text">{{destination.activities}}.</p>
   	 <a href="{% url 'destination-detail' destination.id %}"" class="btn btn-primary"> Travel Here</a>
</div>
  </div>
</div>

  </a>
  {% endfor %}
</div>
</div>
{% endblock content %}